@page "/"
@using Creeds.Data
@inject IDatabase Database

<h1>Welcome to Creeds!</h1>

<ListView Items="@Database.Creeds.OrderBy(c => c.Year)">
    <ItemTemplate>
        <a href="@context.Url"><li style="list-style:none">@context.Title :: @context.Year</li></a>
    </ItemTemplate>
</ListView>
<RadzenButton Text="Hello Radzen"></RadzenButton>
<br/>
<a href="https://github.com/NonlinearFruit/Creeds-Blazor">GitHub</a>
<br/>
<a href="https://play.google.com/store/apps/details?id=com.nonlinearfruit.creeds">Android</a>
