@page "/table_of_contents"
@using Creeds.Data
@inject HttpClient Http
@inject IJsonLoader Loader
@inject IDatabase Database

<ListView Items="@Database.Creeds.OrderBy(c => c.Year)" Render="true">
    <HeaderTitle>
        <h5>All Creeds</h5>
    </HeaderTitle>
    <ItemTemplate>
        <li style="list-style:none">@context.Title :: @context.Year</li>
    </ItemTemplate>
</ListView>