<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nonlinearfruit.creeds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".catechism.CatechismActivity"
            android:label="Catechism"></activity>
        <activity android:name=".creed.CreedActivity"
            android:label="Creed"></activity>
        <activity android:name=".confession.ConfessionActivity"
            android:label="Confession"></activity>
        <activity android:name=".canon.CanonActivity"
            android:label="Canon"></activity>
        <activity android:name=".henryscatechism.HenrysCatechismActivity"
            android:label="Henry's Catechism"></activity>
    </application>

</manifest>