<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nonlinearfruit.creeds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".firstcatechism.FirstCatechismActivity"
            android:label="First Catechism"></activity>
        <activity android:name=".apostlescreed.ApostlesCreedActivity"
            android:label="Apostles' Creed"></activity>
        <activity android:name=".nicenecreed.NiceneCreedActivity"
            android:label="Nicene Creed"></activity>
        <activity android:name=".athanasiancreed.AthanasianCreedActivity"
            android:label="Athanasian Creed"></activity>
        <activity android:name=".chalcedoniancreed.ChalcedonianCreedActivity"
            android:label="Chalcedonian Creed"></activity>
        <activity android:name=".shemayisrael.ShemaYisraelActivity"
            android:label="Shema Yisrael"></activity>
        <activity android:name=".confessionofpeter.ConfessionOfPeterActivity"
            android:label="Confession of Peter"></activity>
        <activity android:name=".westminsterlargercatechism.WestminsterLargerCatechismActivity"
            android:label="Westminster Larger Catechism"></activity>
    </application>

</manifest>